<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogToConsole="true"
      internalLogToConsoleError="true"
      autoReload="true"
      >
  <variable name="logDirectory" value="${basedir}/App_Data/Logs"/>
  <!-- ${longdate} ${logger} ${longdate}|${level:uppercase=true}|${logger}|${message} -->
  <targets>
    <target name="f1" xsi:type="BufferingWrapper" bufferSize="50" flushTimeout="1000">
      <target xsi:type="File" encoding="utf-8"
              fileName="${logDirectory}/${shortdate}/${logger}.${level}.txt"
              layout="${longdate}|${level:uppercase=true}|${logger}|machine: ${machinename}${newline}${message}${newline}-----------------------------------------------------------${newline}"
              archiveFileName="${logDirectory}/${shortdate}/${logger}.${level}.{#}.txt"
              archiveEvery="Day"
              archiveNumbering="Sequence"
              archiveAboveSize="5120000"
              maxArchiveFiles="9"
              concurrentWrites="true"
              keepFileOpen="false"
              openFileCacheTimeout = "30"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="f1"/>
    <logger name="CS.Manager.*" minlevel="Info" writeTo="f1"/>
  </rules>
</nlog>
